NODE_ENV=production
PORT=3003
HOSTNAME=0.0.0.0
PM2_UI_INSTANCES=2
NEXT_PUBLIC_SITE_URL=https://tracking-platform.limgrow.com
SYSTEM_TRACKING_API_URL=http://10.0.0.6:8080
SYSTEM_TRACKING_FUNCTIONS_BASE_URL=http://10.0.0.6:8080
EVENT_TRACKING_DATABASE_URL=postgresql://system_ui_read:__UI_DB_PASSWORD__@10.0.0.5:5432/tracking_legacy
DATABASE_URL=postgresql://system_ui_read:__UI_DB_PASSWORD__@10.0.0.5:5432/tracking_legacy
